
.iframe-container {
    background-color: #4F5250;
    overflow: hidden;
}

.header {
    background: white;
    display: grid;
    padding: 5px;
    height: 100px;
    justify-content: space-between;
    grid-template-columns: auto auto;

}

#top-BTN {
    display: none;
    position: fixed;
    top: 2%;
    right: 3%;
    opacity: 0.7;
    border-radius: 50%;
    background-color: rgba(79, 82, 80);
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
}

.header > a {
    display: grid;
    grid-template-columns: auto auto;
}

.header > a > div {
    font-size: x-large;
    align-self: center;
}

.header > img {
    width: 175px;
    height: 100px;
    margin-top: 7px;
}

.toggle-buttons {
    padding: 15px;
    display: grid;
    padding-bottom: 0px;
    padding-top: 25px;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(3, auto);
    justify-content: left;
}

.trip-list .item ul {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn {
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-width: 120px;
}

button.button {
    width: 150px;
}

.white-line {
    height: 5px;
    margin-right: 15px;
    margin-left: 15px;
    background: white;
}

.trip-list, .offer-form {
    height: 410px;
    padding: 5px;
    margin-right: 15px;
    margin-left: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.offer-form {
    padding:1rem;
}

.item {
    background: white;
    padding: 7px;
}

.item > div {
    color: green;
    margin-left: 5px;
}

.logo {
    padding: 3px;
    justify-self: right;
    margin-right: 3px
}

#logo-container {
    color: white;
    padding: 15px;
}

.website-logos {
    display: grid;
    background: white;
    border-radius: 15px;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.website-logos a {
    padding: 0.5rem;
}

.reference-imgs {
    background: white;
    display: grid;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: 15rem 15rem;
    align-items: center;
}

.reference-imgs a {
    padding: 0.5rem;
    width: 100%;
}

.green-line {
    height: 15px;
    background: #008A56;
}

.footer-logos {
    max-width: 8rem;
}


#rwu-logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin: auto;
}


#mitfahr-logo {
    max-width: 310px;
    height: auto;
    margin: auto;
}

.pages-ref {
    align-self: center;
}

.trip-list .item {
    display: flex;
}

#offer-form {
    border-radius: .75rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(247 219 21/var(--tw-border-opacity));
    padding:1rem;
}
#links-to-supported-platforms {
    list-style: disc;
    padding-left: 2rem;
}

article > h1{
    font-weight: bold;
}
article > ul > li > a{
    color: blue;
}


/*media querries go here*/

@media screen and (min-width: 280px) and (max-width: 500px) {
    .header > img {
        display: none;
    }

    .header > a {
        margin: 0 auto;
    }

    .header > a > div {
        font-size: xx-large;
        align-self: center;
    }

    button.button {
        width: 40vmin;
    }

    body {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .website-logos {
        grid-auto-flow: row;
    }

    .reference-imgs {
        grid-auto-flow: unset;
        grid-template-columns: auto;
    }

    #mitfahr-logo {
        max-width: 210px;
    }

    #rwu-logo {
        max-width: 180px;
    }

    .toggle-buttons {
        justify-content: space-between;
    }

    .header {
        justify-content: center;
    }

    #top-BTN {
        right: 5%;
    }

    .toggle-buttons .btn{
        min-width: fit-content;
        width: unset;
    }

    .toggle-buttons{
        grid-gap: 0;
    }

    #links-to-supported-platforms{
        padding-left: 0.2rem;
    }

    #links-to-supported-platforms li {
        padding-left: 0.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }


}

@media screen and (max-width: 300px) {

    .header > img {
        display: none;
    }

    .header > a {
        margin: 0 auto;
    }

    .header > a > div {
        font-size: xx-large;
        align-self: center;
    }


    body {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .trip-list .item img {
        width: 2.1rem;
    }

    #rwu-logo {
        width: 80%;
        height: 70%;
    }

    .website-logos {
        grid-auto-flow: row;
    }

    .reference-imgs {
        grid-auto-flow: unset;
        grid-template-columns: auto;
    }

    #mitfahr-logo {
        max-width: 190px;
    }

    #rwu-logo {
        max-width: 180px;
    }

    #top-BTN {
        right: 6%;
    }

    .toggle-buttons{
        grid-gap: 0;
        width: unset;
    }

    .btn{
        min-width: fit-content;
    }

    button.button{
        width: unset;
    }

    #links-to-supported-platforms{
        padding-left: 0.2rem;
    }

    #links-to-supported-platforms li {
        padding-left: 0.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .website-logos {
        grid-auto-flow: row;
    }
    article > h1{
        word-break: break-all;
    }
}
