<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="iframe" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/iframe.css">
    <style id="myCSS">

    </style>
    <title>iframe</title>
</head>
<body>
<button onclick="topFunc()" id="top-BTN">&#5169;</button>
<div class="iframe-container">
    <style>
        .end, .begin {
            text-decoration: none;
            text-transform: uppercaseX;
            color: greenX
        }
    </style>
    <div class="header">
        <a href="#">
            <img class="header-img" style="height: 95px; padding: 12px;" src="../img/Mitfahrverband Logo M.svg">
            <div> &nbsp; Mitfahren</div>
        </a>
        <img class="header-img" src="../img/Mitfahrverband Logo Auto Mitfahrer grün.svg">
    </div>
    <div class="toggle-buttons">
        <button class="btn button to clicked">
            {{ toLabel }}
        </button>

        <button class="btn button from">
            {{ fromLabel }}
        </button>

        <button class="btn button offer">
            Anbieten
        </button>

    </div>
    <div class="white-line"></div>
    <div class="trip-list from">
        {% for trip in fromlist %}
        <a href="{{ trip.deeplink }}" target="_blank" class="item">
            <div>
                <p>{{ trip.departDateRender }}</p>
                <p>{{ trip.departTimeRender }}</p>
            </div>
            <ul>
                <li class="begin stop">{{ trip.stops[0].address }}</li>
                <li class="end stop">{{ trip.stops[-1].address }}</li>
            </ul>

            <img src="{{ trip.logo }}" alt="" class="logo">

        </a>
        {% endfor %}
    </div>
    <div class="trip-list to">
        {% for trip in to %}
        <a href="{{ trip.deeplink }}" target="_blank" class="item">

            <div>
                <p>{{ trip.departDateRender }}</p>
                <p>{{ trip.departTimeRender }}</p>
            </div>
            <ul>
                <li class="begin stop">{{ trip.stops[0].address }}</li>
                <li class="end stop">{{ trip.stops[-1].address }}</li>
            </ul>


            <img src="{{ trip.logo }}" alt="" class="logo">

        </a>
        {% endfor %}

    </div>
    <div class="offer-form">
        <form id="offer-form">
            <article>
                <h1>Trage dein Mitfahr-Angebot auf einem dieser Portale ein! Dein Angebot erscheint dann nach ungefähr 5 Minuten hier in der Liste:</h1>
                <ul id ="links-to-supported-platforms">
                    <li><a href="https://ride2go.com/">https://ride2go.com/</a></li>
                    <li><a href="https://www.blablacar.de/">https://www.blablacar.de/</a></li>
                    <li><a href="https://bessermitfahren.de/">https://bessermitfahren.de/</a></li>
                </ul>
            </article>
        </form>

    </div>
    <div class="white-line"></div>
    <div id="logo-container">
        <div> Inserieren und finden auch über:</div>
        <div class="website-logos">
            <a target="_blank" href="https://www.bessermitfahren.de/">
                <img class="footer-logos" src="../img/bessermitfahren_logo.png"></a>
            <a target="_blank" href="https://www.ride2go.de/">
                <img class="footer-logos" src="../img/ride2go.png"></a>
            <a target="_blank" href="https://www.mifaz.de/">
                <img class="footer-logos" src="../img/mifaz.png"> </a>
            <a id="blabla-cont" target="_blank" href="https://www.blablacar.de/">
                <img class="footer-logos" src="../img/01 - BlaBlaCar (no background).png"></a>
        </div>
    </div>
    <div class="reference-imgs">
        <a class="pages-ref" target="_blank" href="https://mitfahrverband.org/">
            <img id="mitfahr-logo" src="../img/Mitfahrverband_eV_logo_lang.png">
        </a>

        <a class="pages-ref" target="_blank" href="https://ridewithukraine.org/">
            <img id="rwu-logo" src="../img/ridewithukraine_icon.svg">
        </a>

    </div>
    <div class="green-line"> &nbsp;</div>
</div>


<script src="../js/logic.js">


</script>

</body>
</html>