<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <title>{{ title }}</title>
</head>
<body> 
    <div id="iframe-conatiner">
        <div class="trip-list">
            {% for trip in list %}
                {% if trip.departDateRender != None %}
                    <a href="{{ trip.deeplink }}" class="item" target="_blank">
                        <div>
                            <p>{{ trip.departDateRender }}</p>
                            <p>{{ trip.departTimeRender }}</p>
                        </div>
                        <ul>
                            {% for stop in trip.stops %}
                                <li>{{ stop.address }}</li>
                            {% endfor %}
                        </ul>
                        <img src="{{ trip.logo }}" class="logo">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>